body {
	margin-top: 20px;
}

.numpad .digit {
   padding: 20px;
   border-color: rgba(128,128,128,0.4);
   border-width: 4px;
   border-style: ridge;
   border-radius: 40px;
   text-align: center;
   
}

.numpad .digit:hover {
  background-color: rgba(128,128,128,0.6);
  border-color: rgba(128,128,128,1);
}

.menu-buttons {
  bottom: 0;
  position: fixed;
  left: 0px;
  right: 0px
}

.details {
  display: none;
  text-align: center;
  margin-top: -30px;
}

.details.active {
  display: block;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
  margin-left: 100px;
  border-color: rgba(128,128,128,1);
}